.modal {
    position: relative;
    margin: 0 auto;
   
    padding: 10px;
    max-width: 800px;
    min-height: 100px;
    
    background-color: #FAFAFA;
    border-radius: 18px;
    border: 1px solid #cfcece;

    display: flex;
    flex-direction: column;
}

.modal > button {
    width: 75px;
    margin: 0 auto;
}

.modalInner {
    margin: 0 auto;
    margin-bottom: 15px;
    height: 100%;
    max-width: 750px;

    display: flex;
    flex-direction: row;
}

.modalField {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonGroup {
    margin: 0 auto;
    margin-top: 5px;
    width: fit-content;
    
    display: flex;
    flex-direction: row;
}

.buttonGroup > button {
    margin: 0 2px;
    width: 150px;
}

.innerDisplay {
    height: 80%;
    width: 100%;
    padding: 15px;
    
    background-color: #DDDDDD;
    border-radius: 18px;
    border: 1px solid #cfcece;

    word-break: break-all;
}

.innerDisplay > div:not(:last-child) {
    margin-bottom: 15px;
}
