.Config {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;  
  width: 100vw;
}

.panel {
  position: relative;
  margin: 0 auto;
   
  min-height: 100px;
  max-width: 600px; 

  border-radius: 20px;
  border: 2px solid #cfcece;
  
  display: flex;
  flex-direction: column;
}

.panelTop {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 10px;
  padding-left: 20px;
  background-color: white;
  border-bottom: 2px solid #cfcece;
}

.panelSelect {
  padding: 10px 0;
  background-color: white;
  border-bottom: 2px solid #cfcece;
}

.panelMid {
  padding: 20px;
  background-color: #FAFAFA;
  border-bottom: 2px solid #cfcece;
}

.panelBottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px;
}

.panelMid > h3 {
  display: inline-block;
}

.panelMid > input[type='text'] {
  margin-left: 10px;
  margin-bottom: 25px;
  width: 300px;
}

.panelMid > input[type='file'] {
  color: transparent;
}

input[type='button'] {
  display: inline-block;
  margin: 0px 10px;
}

.panelMid input[type='button'] {
  margin-bottom: 25px;
}

.panelMid > textarea {
  width: 400px;
  height: 150px;
  resize: none;
  margin-top: -15px;
}

.footer {
  padding-bottom: 10px;
  text-align: center;
  font-size: 13px;
}




